<div class="cita">
  <h1>¡Bienvenidxs al rocódromo!</h1>
  <br>
  <span class="exito">{{exito}}</span>
  <img src="https://media1.tenor.com/images/556c9b655eaabd2fb2705d27325c7381/tenor.gif?itemid=7348330">

</div>
    
